<mat-toolbar class="primary">
  <span>Components</span>
</mat-toolbar>

<mat-drawer-container class="components_container">
  <mat-drawer #drawer mode="side" opened class="drawer">
    <a
      mat-button
      routerLink="/components/dialog"
      routerLinkActive="docs-navbar-item-selected"
      >Dialog</a
    >
    <a
      mat-button
      routerLink="/components/dropdown"
      routerLinkActive="docs-navbar-item-selected"
      >Dropdown</a
    >
    <a
      mat-button
      routerLink="/components/file-upload"
      routerLinkActive="docs-navbar-item-selected"
      >File Upload</a
    >
    <a
      mat-button
      routerLink="/components/file-viewer"
      routerLinkActive="docs-navbar-item-selected"
      >File Viewer</a
    >
    <a
      mat-button
      routerLink="/components/highlight-text"
      routerLinkActive="docs-navbar-item-selected"
      >Highlight text</a
    >
    <a
      mat-button
      routerLink="/components/menu"
      routerLinkActive="docs-navbar-item-selected"
      >Menu</a
    >
    <a
      mat-button
      routerLink="/components/modal"
      routerLinkActive="docs-navbar-item-selected"
      >Modal</a
    >
    <a
      mat-button
      routerLink="/components/navbar"
      routerLinkActive="docs-navbar-item-selected"
      >Navbar</a
    >
    <a
      mat-button
      routerLink="/components/pdf-dialog"
      routerLinkActive="docs-navbar-item-selected"
      >Pdf Dialog</a
    >
    <a
      mat-button
      routerLink="/components/rounded-title"
      routerLinkActive="docs-navbar-item-selected"
      >Rounded Title</a
    >
    <a
      mat-button
      routerLink="/components/tabs"
      routerLinkActive="docs-navbar-item-selected"
      >Tabs</a
    >
  </mat-drawer>

  <mat-drawer-content>
    <div class="ma-2">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
