.components_container {
  height: calc( 100vh - 128px); }
  .components_container .drawer {
    width: 250px; }
    .components_container .drawer a {
      width: 100%;
      justify-content: flex-start; }
