$primary-color: #8a0808;
$secondary-color: #004a99;
$warning-color: #ffa500;

$primary-palette: (
  50: #383838,
  100: #474747,
  200: #565656,
  300: #656565,
  400: #737373,
  500: $primary-color,
  600: #e03c3c,
  700: #f04a4a,
  800: #ff5858,
  900: #ff6666,
  A100: #ffffff,
  A200: #ffc1c1,
  A400: #ff8d8d,
  A700: #ff7474,
  contrast: (50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #000000,
    900: #000000,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$accent-palette: (
  50: #2e2e2e,
  100: #424242,
  200: #575757,
  300: #6d6d6d,
  400: #868686,
  500: $secondary-color,
  600: #e03c3c,
  700: #f04a4a,
  800: #ff5858,
  900: #ff6666,
  A100: #ffffff,
  A200: #b3cfff,
  A400: #80aaff,
  A700: #668fff,
  contrast: (50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warning-palette: (
  50: #5a5a5a,
  100: #707070,
  200: #868686,
  300: #9c9c9c,
  400: #b2b2b2,
  500: $warning-color,
  600: #cc8400,
  700: #e69900,
  800: #ffad1f,
  900: #ffb84d,
  A100: #ffffff,
  A200: #ffd1b3,
  A400: #ffa680,
  A700: #ff944d,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
