@use "../utils/generate_palette" as *;
$primary-color: #c30000;
$secondary-color: #004a99;
$warning-color: #ffa500;

$primary-palette: generate-palette($primary-color);

$accent-palette: (
  50: #e7f7ff,
  100: #c2e6ff,
  200: #9ed4ff,
  300: #7abeff,
  400: #5ba7ff,
  500: $secondary-color,
  600: #00357a,
  700: #002f66,
  800: #00264d,
  900: #001d33,
  A100: #ffffff,
  A200: #b3cfff,
  A400: #80aaff,
  A700: #668fff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warning-palette: (
  50: #fff7e6,
  100: #ffecd1,
  200: #ffe5bd,
  300: #ffdda8,
  400: #ffd796,
  500: $warning-color,
  600: #b38000,
  700: #996600,
  800: #7d4d00,
  900: #663300,
  A100: #ffffff,
  A200: #ffd1b3,
  A400: #ffa680,
  A700: #ff944d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
