<div class="wrapper">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200"
    xml:space="preserve">
    <filter id="color-variation">
      <feColorMatrix type="matrix" values="1.1 0 0 0 0
                                                0 1.5 0 0 0
                                                0 0 1.2 0 0
                                                0 0 0 1 0" />
    </filter>
    <path d="M5.7,33.2L98.8,0l95.5,32.6l-15.4,123.1L98.8,200L20,156.3L5.7,33.2z" class="shield-left"></path>
    <path d="M194.3,32.6L98.8,0v200l80.1-44.3L194.3,32.6L194.3,32.6z" class="shield-right"
      filter="url(#color-variation)">
    </path>
    <circle cx="61.7" cy="80" r="10.7" class="eye"></circle>
    <circle cx="138.3" cy="80" r="10.7" class="eye"></circle>
    <path stroke-width="10" stroke-linecap="round" fill="none" d="M138,130.6c0,0-33.5-42.5-76,0" class="frown"></path>
  </svg>
  <div>
    <h1>Page Not Found</h1>
    <p>We're sorry. The page you are looking for cannot be found.</p>
    <a routerlink="/" mat-raised-button color="primary"
      class="mdc-button mdc-button--raised mat-mdc-raised-button mat-primary mat-mdc-button-base" href="/"
      aria-disabled="false">
      <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
      <span class="mdc-button__label">Go Home</span><span class="mat-mdc-focus-indicator"></span>
      <span matripple="" class="mat-ripple mat-mdc-button-ripple"></span>
      <span class="mat-mdc-button-touch-target"></span>
    </a>
    <a routerlink="/guides" mat-raised-button
      class="mdc-button mdc-button--raised mat-mdc-raised-button mat-unthemed mat-mdc-button-base"
      aria-disabled="false">
      <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
      <span class="mdc-button__label">Read Guides</span>
      <span class="mat-mdc-focus-indicator"></span>
      <span matripple="" class="mat-ripple mat-mdc-button-ripple"></span>
      <span class="mat-mdc-button-touch-target"></span>
    </a>
  </div>
</div>
