.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px;
}
.wrapper svg {
  height: 300px;
  max-width: 100%;
  margin-right: 32px;
}
.wrapper svg .shield-left {
  fill: var(--primary-color);
}
.wrapper svg .shield-right {
  fill: var(--primary-color);
}
.wrapper svg .eye {
  fill: var(--background-card);
}
.wrapper svg .frown {
  stroke: var(--background-card);
}
