@use "@angular/material" as mat;
@use "./assets/theme" as theme;
@use "./assets/core" as *;
@use "sass:map";
@use "./assets/utils" as utils;
@use "./assets/material-icons/index";

@use 'tailwindcss';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@include mat.all-component-themes(theme.$theme-light);

@media (prefers-color-scheme: light) {
  @include mat.elevation-classes();
  @include mat.app-background();
  @include core(theme.$theme-light);

  $primary: mat.get-theme-color(theme.$theme-light, primary);
  $accent: mat.get-theme-color(theme.$theme-light, accent);
  $warn: mat.get-theme-color(theme.$theme-light, warn);
  $bg-card: mat.get-theme-color(theme.$theme-light, background, card);
  $color-text: mat.get-theme-color(theme.$theme-light, foreground, text);

  * {
    color: $color-text;
    --color-primary: oklch(41% 87% 40deg);
  }

  body {
    background: $bg-card;
  }
}

@media (prefers-color-scheme: dark) {
  @include mat.all-component-colors(theme.$theme-dark);
  @include mat.elevation-classes();
  @include mat.app-background();
  @include core(theme.$theme-dark);
  $primary: mat.get-theme-color(theme.$theme-dark, primary);
  $accent: mat.get-theme-color(theme.$theme-dark, accent);
  $warn: mat.get-theme-color(theme.$theme-dark, warn);
  $bg-card: mat.get-theme-color(theme.$theme-dark, background, card);
  $color-text: mat.get-theme-color(theme.$theme-dark, foreground, text);

  * {
    color: $color-text;
  }

  body {
    background: $bg-card;
  }
}

body,
app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

pre.hljs {
  padding: 1rem;
}

example-viewer {
  padding: 1rem;
  margin-bottom: 1rem;
}
