:host {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

aside {
  height: 100%;
  background: var(--background-app-bar);
  border-right: 1px solid var(--mat-divider-color);
  overflow: auto;
  padding: 1rem;
  nav ul li {
    margin-bottom: 0.5rem;
  }
}

main {
  flex: 1;
  height: 100%;
  overflow: auto;
}
