.example-viewer {
  display: block;
}
.example-viewer .example-viewer-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
