<div class="m-16 py-16">
  <h1>c3-components</h1>
  <p>
    c3-components is an open-source component library that extends the
    <a href="https://material.angular.io/" target="_blank"
      >&#64;angular/material</a
    >
    library. This collection of components aims to facilitate and accelerate the
    development of modern Angular applications by providing reusable and
    customizable components to meet specific needs.
  </p>

  <h2>Table of Contents</h2>
  <ul>
    <li><a routerLink="./" fragment="installation">Installation</a></li>
    <li><a routerLink="./" fragment="components">Components</a></li>
    <li><a routerLink="./" fragment="documentation">Documentation</a></li>
    <li><a routerLink="./" fragment="development">Development</a></li>
    <li><a routerLink="./" fragment="contributing">Contributing</a></li>
    <li><a routerLink="./" fragment="license">License</a></li>
  </ul>

  <h2 id="installation">Installation</h2>
  <p>
    To install c3-components in your Angular project, run the following command:
  </p>
  <pre><code>npm install c3-components</code></pre>
  <p>
    Also, make sure you have installed and configured &#64;angular/material as
    per
    <a href="https://material.angular.io/guide/getting-started" target="_blank"
      >their documentation</a
    >.
  </p>

  <h2 id="components">Components</h2>
  <p>
    c3-components offer a variety of components that extend the functionality of
    &#64;angular/material. Below is a table listing the available components and
    the progress status of their documentation:
  </p>
  <table>
    <thead>
      <tr>
        <th>Component</th>
        <th>Documentation Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Dialog</td>
        <td class="status-completed">Completed</td>
      </tr>
      <tr>
        <td>Dropdown</td>
        <td class="status-completed">Completed</td>
      </tr>
      <tr>
        <td>File Upload</td>
        <td class="status-planned">Planned</td>
      </tr>
      <tr>
        <td>File Viewer</td>
        <td class="status-in-progress">In Progress</td>
      </tr>
      <tr>
        <td>Highlight Text</td>
        <td class="status-completed">Completed</td>
      </tr>
      <tr>
        <td>Menu</td>
        <td class="status-planned">Planned</td>
      </tr>
      <tr>
        <td>Modal</td>
        <td class="status-planned">Planned</td>
      </tr>
      <tr>
        <td>NavBar</td>
        <td class="status-planned">Planned</td>
      </tr>
      <tr>
        <td>Pdf Dialog</td>
        <td class="status-planned">Planned</td>
      </tr>
      <tr>
        <td>Rounded Title</td>
        <td class="status-planned">Planned</td>
      </tr>
      <tr>
        <td>Tabs</td>
        <td class="status-planned">Planned</td>
      </tr>
    </tbody>
  </table>

  <h2 id="documentation">Documentation</h2>
  <p>
    Complete documentation for the c3-components is available on our
    <a href="https://kroenen62.github.io/c3-components/" target="_blank"
      >documentation website</a
    >. You'll find usage examples, guides, and API references for each
    component.
  </p>

  <h2 id="development">Development</h2>
  <p>
    If you'd like to contribute to the development of c3-components, follow the
    steps below to set up your development environment:
  </p>
  <ol>
    <li>
      Clone the repository:
      <pre><code>git clone https://github.com/Kroenen62/c3-components.git</code></pre>
    </li>
    <li>
      Install the dependencies:
      <pre><code>bun install</code></pre>
    </li>
    <li>
      Build the library in watch mode:
      <pre><code>bunx &#64;angular/cli build c3-components --watch</code></pre>
    </li>
    <li>
      (In a new cmd) Link the library to the demo application:
      <pre><code>npm link c3-components</code></pre>
    </li>
    <li>
      Run the demo application:
      <pre><code>bun start</code></pre>
    </li>
  </ol>
  <p>
    This will launch a local instance of the demo application to aid in the
    development and testing of the components.
  </p>

  <h2 id="contributing">Contributing</h2>
  <p>
    This is my first contribution, and I am learning as I go. Please be
    understanding and patient as I work to improve this project.
  </p>
  <p>
    Before contributing, please read our
    <a href="./CONTRIBUTING.md">contribution guide</a> for best practices and
    guidelines for our project.
  </p>

  <h2 id="license">License</h2>
  <p>
    c3-components are licensed under the <a href="./LICENSE">MIT License</a>.
    You are free to use, modify, and distribute it, subject to the terms of this
    license.
  </p>
</div>
