<p>This is a simple of a prebuilded dialog</p>

<example-viewer class="mb-1">
  <h4 title>Prompt</h4>

  <ng-container example>
    <button mat-raised-button (click)="openPromptDialog()">Open dialog</button>
  </ng-container>
</example-viewer>

<example-viewer class="mb-1">
  <h4 title>Confirm</h4>

  <ng-container example>
    <button mat-raised-button (click)="openConfirmDialog()">Open dialog</button>
  </ng-container>
</example-viewer>

<example-viewer class="mb-1">
  <h4 title>Custom</h4>

  <ng-container example>
    <button mat-raised-button (click)="openCustomDialog()">Open dialog</button>
  </ng-container>
</example-viewer>
