@function generate-accent-palette($base-color) {
  $palette: (50: mix($base-color, #ffffff, 90%),
    100: mix($base-color, #ffffff, 70%),
    200: mix($base-color, #ffffff, 50%),
    300: mix($base-color, #ffffff, 30%),
    400: mix($base-color, #ffffff, 15%),
    500: $base-color,
    600: mix($base-color, #000000, 15%),
    700: mix($base-color, #000000, 30%),
    800: mix($base-color, #000000, 50%),
    900: mix($base-color, #000000, 70%),
    A100: mix($base-color, #ffffff, 50%),
    A200: mix($base-color, #ffffff, 30%),
    A400: mix($base-color, #ffffff, 15%),
    A700: mix($base-color, #000000, 30%),
    contrast: (50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #000000,
      800: #000000,
      900: #000000,
      A100: #000000,
      A200: #000000,
      A400: #ffffff,
      A700: #ffffff,
    ),
  );
  @return $palette;
}
