header {
  min-height: 420px;
  height: 100%;
  position: relative;
  background: radial-gradient(
    ellipse 75vw 75vh at center 40vh,
    oklch(0.51 0.21 29.2),
    oklch(0.3 calc(1.5 * 15%) 29.2) 50%,
    oklch(0.2 calc(0.75 * 15%) 29.2) 90%
  );
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5rem;

  .docs-header-section__nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    h4 {
      font-size: 1.5rem;
      font-weight: 400;
      color: white !important;
      opacity: 0.8;
    }

    border: 1px solid hsla(0, 0%, 100%, 0.2);
    border-radius: 1rem;
    padding: 0.5rem;
    backdrop-filter: blur(40px) brightness(0.7);
    box-shadow: 0 16px 32px color-mix(in oklab, black 10%, transparent);
  }
}
header h1 {
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 0;
  color: white !important;
  text-shadow: 0 0 32px var(--color-primary);
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-items: center;
}
header h1,
header h4 {
  color: white !important;
}
