@mixin rounded($radius: 1rem) {
  .rounded-t {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }

  .rounded-r {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }

  .rounded-b {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
  }

  .rounded-l {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }

  .rounded-tl {
    border-top-left-radius: $radius;
  }

  .rounded-tr {
    border-top-right-radius: $radius;
  }

  .rounded-br {
    border-bottom-right-radius: $radius;
  }

  .rounded-bl {
    border-bottom-left-radius: $radius;
  }

  .rounded-t-none {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .rounded-r-none {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .rounded-b-none {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .rounded-l-none {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .rounded-tl-none {
    border-top-left-radius: 0;
  }

  .rounded-tr-none {
    border-top-right-radius: 0;
  }

  .rounded-br-none {
    border-bottom-right-radius: 0;
  }

  .rounded-bl-none {
    border-bottom-left-radius: 0;
  }

  .rounded-circle {
    border-radius: 50%;
  }

  .rounded-pill {
    border-radius: 50rem;
  }

  .rounded {
    border-radius: $radius;
  }

  .rounded-none {
    border-radius: 0;
  }

  .rounded-xs {
    border-radius: 0.125rem;
  }

  .rounded-sm {
    border-radius: 0.5rem;
  }

  .rounded-md {
    border-radius: 1rem;
  }

  .rounded-lg {
    border-radius: 1.5rem;
  }

  .rounded-xl {
    border-radius: 2rem;
  }

  .rounded-full {
    border-radius: 9999px;
  }
}
