@mixin margin() {
  $range: (
    "0": 0,
    "xxs": 0.125,
    "xs": 0.25,
    "sm": 0.5,
    "1": 1,
    "2": 2,
    "3": 3,
    "4": 4,
    "5": 5,
  );

  @each $name, $var in $range {
    .ma-#{$name} {
      margin: #{$var}rem;
    }

    .mx-#{$name} {
      margin: 0 #{$var}rem;
    }

    .my-#{$name} {
      margin: #{$var}rem 0;
    }

    .mt-#{$name} {
      margin-top: #{$var}rem;
    }

    .mb-#{$name} {
      margin-bottom: #{$var}rem;
    }

    .mr-#{$name} {
      margin-right: #{$var}rem;
    }

    .ml-#{$name} {
      margin-left: #{$var}rem;
    }

    .pa-#{$name} {
      padding: #{$var}rem;
    }

    .px-#{$name} {
      padding-left: #{$var}rem;
      padding-right: #{$var}rem;
    }

    .py-#{$name} {
      padding-top: #{$var}rem;
      padding-bottom: #{$var}rem;
    }

    .pt-#{$name} {
      padding-top: #{$var}rem;
    }

    .pb-#{$name} {
      padding-bottom: #{$var}rem;
    }

    .pr-#{$name} {
      padding-right: #{$var}rem;
    }

    .pl-#{$name} {
      padding-left: #{$var}rem;
    }

    .ma-#{$name}-important {
      margin: #{$var}rem !important;
    }

    .mx-#{$name}-important {
      margin: 0 #{$var}rem !important;
    }

    .my-#{$name}-important {
      margin: #{$var}rem 0 !important;
    }

    .mt-#{$name}-important {
      margin-top: #{$var}rem !important;
    }

    .mb-#{$name}-important {
      margin-bottom: #{$var}rem !important;
    }

    .mr-#{$name}-important {
      margin-right: #{$var}rem !important;
    }

    .ml-#{$name}-important {
      margin-left: #{$var}rem !important;
    }

    .pa-#{$name}-important {
      padding: #{$var}rem !important;
    }

    .px-#{$name}-important {
      padding-left: #{$var}rem !important;
      padding-right: #{$var}rem !important;
    }

    .py-#{$name}-important {
      padding-top: #{$var}rem !important;
      padding-bottom: #{$var}rem !important;
    }

    .pt-#{$name}-important {
      padding-top: #{$var}rem !important;
    }

    .pb-#{$name}-important {
      padding-bottom: #{$var}rem !important;
    }

    .pr-#{$name}-important {
      padding-right: #{$var}rem !important;
    }

    .pl-#{$name}-important {
      padding-left: #{$var}rem !important;
    }
  }
}
